<%- include('./partials/header')%>
<div class="main">
	<section>
		<img id="landing" src="./photos/landing.jpg">
		<div id="welcome">
			<h1 id="hello">Hello, I'm</h1>
			<h1 id="name">Keefer Gregoire</h1>
			<ul>
				<li>Web Designer</li>
				<li>Engineer</li>
				<li>Inventor</li>
				<li>Blogger</li>
			</ul>
			<button>Learn More</button>
		</div>

	</section>
	<section class="dark-background" id="experience-page">
		<div id="done-so-far">
			<h1 class="page-title"><strong>Academic and Industry Experience</strong></h1>
			<div id="class-conference">
				<h2>Between <span id="classrooms">classrooms</span>  and <span id="conference">conference</span> rooms</h2>
				<h2>I've always sought exciting</h2>
				<h2><strong>opportunities</strong>.</h2>
			</div>
			
			<div class="row">
				<div class="col">
					<div id="A" class="row item">
						<div class="col center-content">
							<div>
								<img src="./photos/northrop.jpg">
							</div>	
						</div>
						<div class="col">
							<h2 class="title">Northrop Grumman Mission Systems</h2>
							<h3 class="job">Software Engineering Intern</h2>
							<h4 class="duration">May 2019 - August 2019</h3>
		<!-- 					<p>
								Focused on computer engineering studies while Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							</p> -->
						</div>
					</div>		
				</div>
				<div class="col">
					<div id="B" class="row item">
						<div class="col center-content">
							<img src="./photos/technip.jpg">
						</div>
						<div class="col">
							<h2 class="title">Technip FMC Measurement Solutions</h2>
							<h3 class="job">Software Engineering Intern</h2>
							<h4 class="duration">May 2018 - May 2019</h3>
		<!-- 					<p>
								Focused on computer engineering studies while Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							</p> -->
						</div>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="C" class="row item">
						<div class="col center-content">
							<img src="./photos/gannon.jpg">
						</div>
						<div class="col">
							<h2 class="title">Gannon University</h2>
							<h3 class="job">Bachelor of Science in Electrical Engineering (currently pursuing)</h2>
							<h4 class="duration">September 2017 - May 2021 (Expected Graduation)</h3>
		<!-- 					<p>
								Focused on computer engineering studies while Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodos
							</p> -->
						</div>
					</div>
				</div>
				<div class="col">
					<div id="D" class="row item">
						<div class="col center-content">
							<img src="./photos/2-6.jpg">
						</div>
						<div class="col">
							<h2 class="title">II-VI Inc. Infared Division</h2>
							<h3 class="job">Career Practicum Engineering Intern</h2>
							<h4 class="duration">May 2016 - August 2017</h3>
		<!-- 					<p>
								Focused on computer engineering studies while Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							</p> -->
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>
	<section style="background: rgba(41, 38, 38,.95)" id="projects-page">
		<h1 class="page-title">Recent Projects</h1>
		<h2 class="align-center salmon"><strong class="salmon">Software</strong> to <strong>Hardware</strong> <i style="font-size: 2vw" class="fas fa-circle"></i> <strong>Web Apps</strong> to <strong>Circuit Boards</strong></h2>
		<div class="row">
			<div class="col">
				<div id='proficient' class="row item">
					<div class="col">
						<div class="row">
							<div class="col">
								<a href="https://proficient.herokuapp.com"><h2>Proficient</h2></a>
								<h3>Web Application</h3>
								<p>
									A great time management and scheduling application for students of all grade level and age, Proficient is a web application I made to better orgnaize my classes and assignments.  It includes a full calendar and dashboard to plan weeks and months ahead.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 center-content">
						<div class="slides">
							<img src="./photos/proficient/landing.jpg">
							<img src="./photos/proficient/dashboard.jpg">
							<img src="./photos/proficient/calendar.jpg">
							<img src="./photos/proficient/class_details.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div id='audio-amplifier' class="row item">
					<div class="col">
						<div class="row">
							<div class="col">
								<a><h2>Sound Amplifcation Circuit</h2></a>
								<h3>PCB</h3>
								<p>
									This printed circuit board takes input from an aux device such as a smartphone and outputs sound to a speaker system.  The circuit contains a pre and power amplifier along with coupling capacitors to reduce transient fluctuations in the output sound.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 center-content">
						<div class="slides">
							<img src="./photos/pcb/1.jpg">
							<img src="./photos/pcb/2.jpg">
							<img src="./photos/pcb/3.jpg">
							<img src="./photos/pcb/4.jpg">
							<img src="./photos/pcb/5.jpg">
							<img src="./photos/pcb/6.jpg">
							<img src="./photos/pcb/7.jpg">
							<img src="./photos/pcb/8.jpg">
							<img src="./photos/pcb/9.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div id="idk-yet" class="row item">
					<div class="col">
						<div class="row">
							<div class="col">
								<h2>Micromouse</h2>
								<h3>Autonomous Robot</h3>
								<p>
									Micromouse is a competition many universities compete in on a yearly basis.  This was a team based project in which my main role was CAD design utilizing Fusion 360 for chasis design.  The team took third place at the IEEE Region 2 Conference in 2018.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 center-content">
						<div class="slides">
							<img src="./photos/x/one.jpeg">
							<img src="./photos/x/two.jpeg">
							<img src="./photos/x/three.jpeg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section style="background: rgba(41, 38, 38,.9)" id="blog" class="off-white">
		<div class="container">
			<h1 class="page-title">Recent Blog Posts</h1>
			<h2 class="more-info"><i style="font-size: 20px; color: white;" class="fas fa-comment"></i> <strong>Explanations Thoughts Perspectives</strong> <i style="font-size: 20px; color: white;" class="fas fa-comment"></i></h2>
			<div class="row">
				<div class="col">
					<div class="blog">
						<a href="https://plugged-in-blog.herokuapp.com/blogs/5ec3ec688726094212e3bd2e">
							<div class="card bg-dark text-white page-height">
				 				 <img src="https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014617__480.jpg" class="card-img" alt="...">
								 <div class="card-img-overlay">
								    <h5 class="card-title truncate">Hello Future, Your Car's Here</h5>
								    <p class="card-text truncate">Self-driving cars present exciting possibilities for the future along side challenging cybersecurity issues.</p>
								 </div>
							</div>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="blog">
						<a href="https://plugged-in-blog.herokuapp.com/blogs/5ec3e6125d629240e4260672">
							<div class="card bg-dark text-white page-height">
				 				 <img src="https://cdn.pixabay.com/photo/2014/12/28/02/23/mother-board-581597__480.jpg" class="card-img" alt="...">
								 <div class="card-img-overlay">
								    <h5 class="card-title truncate">Processing AI: FPGA & ASIC</h5>
								    <p class="card-text truncate">A continuation of Processing AI: CPU & GPU I take an look at the technological value presented in these hardware implementations for AI processing.</p>
								 </div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="blog">
						<a href="https://plugged-in-blog.herokuapp.com/blogs/5ec3e6d55d629240e4260673">
							<div class="card bg-dark text-white page-height">
				 				 <img src="https://cdn.pixabay.com/photo/2017/09/14/21/08/brain-2750415__480.png" class="card-img" alt="...">
								 <div class="card-img-overlay">
								    <h5 class="card-title truncate">Paging Dr. Watson</h5>
								    <p class="card-text truncate">Taking a look at the healthcare landscape in the future of AI accelerated medicine, there is likely to be a significant shift in the interpretation of medical technology.</p>
								 </div>
							</div>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="blog">
						<a href="https://plugged-in-blog.herokuapp.com/blogs/5ec3e3f65ca3b34050e77144">
							<div class="card bg-dark text-white page-height">
				 				 <img src="https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img" alt="...">
								 <div class="card-img-overlay">
								    <h5 class="card-title truncate">Processing AI: CPU & GPU</h5>
								    <p class="card-text truncate">Breaking down the foundational processors used in AI computation, the CPU presents the original hardware technology used in AI processing. The GPU presents a significant improvement in computation power.</p>
								 </div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="lets-connect" class="off-white">
		<div class="container">
			<h1 class="page-title">Let's Connect</h1>
			<h2 style="text-align: center">Whether I'm <span class="red">tinkering</span>, <span class="blue">developing</span>, or <span class="green">deploying</span> I keep you in the loop.</h2>
			<h3 style="text-align: center"><span class="green">Comments</span> on my posts work great.</h3>
			<h3 style="text-align: center"><span class="blue">Emails</span> even better.</h3>
			<h3 style="text-align: center">But...</h3>
			<h3 style="text-align: center">A good slice of <i style="font-size: 2.5rem;" class="red fas fa-pizza-slice"></i> works best.</h3>
			<div class="row" id="social-links">
				 <div class="col">
						<a href="https://twitter.com/KeeferGregoire" class="fab fa-twitter"></a>
				 </div>
				 <div class="col">
				 	<a href="https://www.instagram.com/keefergregoire/" class="fab fa-instagram"></a>
				 </div>
				 <div class="col">
				 	<a href="https://www.facebook.com/keefer.gregoire.71" class="fab fa-facebook"></a>
				 </div>
				 <div class="col">
				 	<a href="https://www.linkedin.com/in/keefer-gregoire-1b6ab818b/" class="fab fa-linkedin"></a>
				 </div>
				 <div class="col">
				 	<a href="https://github.com/keefmanhack" class="fab fa-github"></a>
				 </div>
			</div>
			<div class="row">
				<div class="col">
					<h3 style="text-align: center;"><i class="fas fa-circle"></i> keefer.gregoire@yahoo.com <i class="fas fa-circle"></i></h3>
				</div>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript" src='/scripts/home.js'></script>
<%- include('./partials/footer')%>