<%- include('./partials/header')%>
<div class="main">
	<section>
		<img id="landing" src="./photos/landing.jpg">
		<div id="welcome">
			<h1 id="hello">Hello, I'm</h1>
			<h1 id="name">Keefer Gregoire</h1>
			<ul>
				<li>Web Designer</li>
				<li>Engineer</li>
				<li>Inventor</li>
				<li>Blogger</li>
			</ul>
			<button>Learn More</button>
		</div>

	</section>
	<section class="off-white" id="experience-page">
		<div id="done-so-far">
			<h1 class="page-title">What I've Done So Far</h1>
			<div class="row">
				<div class="col">
					<div class="row item">
						<div class="col center-content">
							<div>
								<img src="./photos/northrop.jpg">
							</div>	
						</div>
						<div class="col">
							<h2 class="title">Northrop Grumman Mission Systems</h2>
							<h3 class="job">Software Engineering Intern</h2>
							<h4 class="duration">May 2019 - August 2019</h3>
		<!-- 					<p>
								Focused on computer engineering studies while Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							</p> -->
						</div>
					</div>		
				</div>
				<div class="col">
					<div class="row item">
						<div class="col center-content">
							<img src="./photos/technip.jpg">
						</div>
						<div class="col">
							<h2 class="title">Technip FMC Measurement Solutions</h2>
							<h3 class="job">Software Engineering Intern</h2>
							<h4 class="duration">May 2018 - May 2019</h3>
		<!-- 					<p>
								Focused on computer engineering studies while Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							</p> -->
						</div>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row item">
						<div class="col center-content">
							<img src="./photos/gannon.jpg">
						</div>
						<div class="col">
							<h2 class="title">Gannon University</h2>
							<h3 class="job">Bachelor of Science in Electrical Engineering (currently pursuing)</h2>
							<h4 class="duration">September 2017 - May 2021 (Expected Graduation)</h3>
		<!-- 					<p>
								Focused on computer engineering studies while Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodos
							</p> -->
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row item">
						<div class="col center-content">
							<img src="./photos/2-6.jpg">
						</div>
						<div class="col">
							<h2 class="title">II-VI Inc. Infared Division</h2>
							<h3 class="job">Career Practicum Engineering Intern</h2>
							<h4 class="duration">May 2016 - August 2017</h3>
		<!-- 					<p>
								Focused on computer engineering studies while Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							</p> -->
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>
	<section class="off-white" id="projects-page">
		<h1 class="page-title">Recent Projects</h1>
		<div class="row">
			<div class="col">
				<div id='proficient' class="row item">
					<div class="col">
						<div class="row">
							<div class="col">
								<a href=""><h2>Proficient</h2></a>
								<h3>Student Scheduling Tool</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 center-content">
						<div class="slides">
<!-- 							<div>
								<button class="slide-toggle left"><</button>
							</div>
							<button class="slide-toggle right">></button> -->
							<img src="./photos/proficient/landing.jpg">
							<img src="./photos/proficient/dashboard.jpg">
							<img src="./photos/proficient/calendar.jpg">
							<img src="./photos/proficient/class_details.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div id='audio-amplifier' class="row item">
					<div class="col">
						<div class="row">
							<div class="col">
								<h2>Sound Amplifcation Circuit</h2>
								<h3>PCB</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 center-content">
						<div class="slides">
<!-- 							<div>
								<button class="slide-toggle left"><</button>
							</div>
							<button class="slide-toggle right">></button> -->
							<img src="./photos/proficient/landing.jpg">
							<img src="./photos/proficient/dashboard.jpg">
							<img src="./photos/proficient/calendar.jpg">
							<img src="./photos/proficient/class_details.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div id="idk-yet" class="row item">
					<div class="col">
						<div class="row">
							<div class="col">
								<h2>Not sure yet</h2>
								<h3>Student Scheduling Tool</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 center-content">
						<div class="slides">
<!-- 							<div>
								<button class="slide-toggle left"><</button>
							</div>
							<button class="slide-toggle right">></button> -->
							<img src="./photos/proficient/landing.jpg">
							<img src="./photos/proficient/dashboard.jpg">
							<img src="./photos/proficient/calendar.jpg">
							<img src="./photos/proficient/class_details.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="blog" class="off-white">
		<div class="container">
			<h1 class="page-title">Recent Blog Posts</h1>
			<h2 class="more-info">This is fancy text about what I blog about</h2>
			<div class="row">
				<div class="col">
					<div class="blog">
						<a href="">
							<div class="card bg-dark text-white page-height">
				 				 <img src="https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img" alt="...">
								 <div class="card-img-overlay">
								    <h5 class="card-title truncate">CPU, GPU, FPGA, ASIC</h5>
								    <p class="card-text truncate">A beginners understanding of these powerful forms of processing in AI applictions.</p></p>
								 </div>
							</div>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="blog">
						<a href="">
							<div class="card bg-dark text-white page-height">
				 				 <img src="https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img" alt="...">
								 <div class="card-img-overlay">
								    <h5 class="card-title truncate">Title</h5>
								    <p class="card-text truncate">This is the description</p></p>
								 </div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="blog">
						<a href="">
							<div class="card bg-dark text-white page-height">
				 				 <img src="https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img" alt="...">
								 <div class="card-img-overlay">
								    <h5 class="card-title truncate">Title</h5>
								    <p class="card-text truncate">This is the description</p></p>
								 </div>
							</div>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="blog">
						<a href="">
							<div class="card bg-dark text-white page-height">
				 				 <img src="https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img" alt="...">
								 <div class="card-img-overlay">
								    <h5 class="card-title truncate">Title</h5>
								    <p class="card-text truncate">This is the description</p></p>
								 </div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="lets-connect">
		<div class="container">
			<h1 class="page-title">Let's Connect</h1>
			<div class="row">
				<div class="col">
					<a href="">gregoire001@gannon.edu</a>
				</div>
				<div class="col">
					<a href="">724-712-1344</a>
				</div>
			</div>
			<div class="row">
				 <div class="col">
				 	<div id="social-links">
						<a href="https://twitter.com/KeeferGregoire" class="fa fa-twitter"></a>
						<a href="https://www.instagram.com/keefergregoire/" class="fa fa-instagram"></a>
						<a href="https://www.facebook.com/keefer.gregoire.71" class="fa fa-facebook"></a>
						<a href="https://www.linkedin.com/in/keefer-gregoire-1b6ab818b/" class="fa fa-linkedin"></a>
						<a href="https://github.com/keefmanhack" class="fa fa-github"></a>
					</div>	
				 </div>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript" src='/scripts/home.js'></script>
<%- include('./partials/footer')%>