button:focus{
	outline: none !important;
}

#blog .container{
	margin: 0 5vw;
}

#blog .row{
	margin-top: 5vh;
}

#blog .blog img{
	height: 35vh;
}

#blog .card-img-overlay{
    top: 55%;
    padding-top: 10px;
    background: rgba(19, 18, 18, 0.7);
}

.card-title{
	font-size: 3vw;
}

.center-content{
	display: flex;
  	justify-content: flex-end;
  	align-items: center;
}

.done-so-far{
	margin: 0 50px;
}

.page-title{
	margin-top: 30px;
	text-align: center;
}

#done-so-far{
	margin: 0 3vw;
}

#done-so-far > .row{
	margin: 100px 0;
}

#done-so-far .title{
	font-size: 18px;
    font-weight: bold;
}

#done-so-far .job{
	font-size: 15px;
    font-style: italic;
}

#done-so-far .duration{
	font-size: 14px;
}

#done-so-far .item{
	padding: 10px;
    background: #DFCFBE;
    border-radius: 20px;
    margin-right: 10px;
    height: 180px;
    opacity: 0;
}

#done-so-far .item.show-done{
	opacity: 1;
	transition: 3s;
}



#hello{
	font-family: 'Merienda', cursive;
	font-size: 1.5vw;
	z-index: 3;
	position: relative;
	text-align: center;
	color: white;
}

#lets-connect .container{
	margin: 0 100px;
}

#lets-connect .fa{
  font-size: 30px;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  display: inline;
}

.fa-facebook{
	background: #3B5998;
}

.fa-instagram{
	 background: #125688;
}

.fa-twitter{
	 background: #55ACEE;
}

.fa-linkedin{
	background: #007bb5;
}

.fa-github{
	background: #24292e;
}

#name{
	font-family: 'Abril Fatface', cursive;
	font-size: 4.5vw;
	z-index: 3;
	position: relative;
	text-align: center;
	color: white;
	margin-bottom: 12vh;
}

.more-info{
	text-align: center;

}

#landing{
	background: lightgrey;
	width: 100vw;
/*	z-index: 9;*/
	position: absolute;
/*	position: absolute;
	left: 25%;
	top: 0;*/

}

#welcome{
	position: relative;
    z-index: 4;
    background: rgba(0,0,0,0.6);
    width: 25%;
    vertical-align: center;
    padding: 30px;
    height: 100%;
}

#welcome button{
	border: none;
    font-size: 2vw;
    padding: 3vw;
    background: white;
    border-radius: 10px;
    width: 100%;
    font-family: 'Abril Fatface', cursive;
    margin-top: 6vh;
}

.off-white{
	background-color: #f5f5f5;
}

#experience-page img{
	border-radius: 25px;
	width: 280px;
}

li{
	list-style-type: none;
	color: white;
	font-family: 'Abril Fatface', cursive;
	font-size: 2vw;
	margin-bottom: 1vw;
}

#welcome button:hover{
	cursor: pointer;
}

#projects-page img{
	border-radius: 25px;
	height: 22vh;
}

#projects-page #proficient.show{
	transition: 2s;
	left:0;
}

#projects-page #audio-amplifier.show{
	transition: 3s;
	left:0;
}

#projects-page #idk-yet.show{
	transition: 4s;
	left:0;
}

#projects-page #audioamplifier{
	right: 3000px;
}

#projects-page .item{
	position: relative;
	left: -3000px;
	margin: 10px 10%;
	border-radius: 25px;
	background: #659DBD;
}

#projects-page .item p{
	text-align: justify;
}
.slides{
	border-radius: 25px;
}

.slides .slide-toggle{
    z-index: 999;
    position: absolute;
    background: rgba(0,0,0,0.7);
    border: none;
    height: 100%;
    width: 37px;
    border-radius: 25px;
}

.slides .slide-toggle.left{
	top: 0px;
    left: 14px;
}
.slides .slide-toggle.right{
	top: 0px;
    left: 100px;
}

#social-links{
	margin-top: 100px;
}

.truncate {
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*#menu{
	background: lightgrey;
	position: absolute;
	top: 100vh;
	z-index: 999;
}*/