.align-center{
	text-align: center;
}

body *{
	font-family: 'Abril Fatface', cursive;
	-webkit-backface-visibility: hidden;
}

button:focus{
	outline: none !important;
}

#blog{
	position: relative;
	top: -90px;
	width: 100vw;
	height: 800px;
}

#blog .container{
	margin: 0 5vw;
}

#blog .row{
	margin-top: 5vh;
}

#blog .blog img{
	height: 275px;
}

#blog .card-img-overlay{
    top: 55%;
    padding-top: 10px;
    background: rgba(19, 18, 18, 0.7);
}

#blog h2{
	color: #587fbf;
}

.card-title{
	font-size: 3vw;
}

#blog .card{
	border: 6px solid #587fbf;
}

.center-content{
	display: flex;
  	justify-content: flex-end;
  	align-items: center;
}

#class-conference h2{
	text-align: center;
	color: white;
	font-size: 2.65vw;
}

#class-conference h2 #conference{
	color: #58bf66;
	font-family: 'Roboto Mono', monospace;
}

#class-conference h2 strong{
	color: #58bf66;
}

#class-conference h2 #classrooms{
	color: #58bf66;
	font-family: 'Gloria Hallelujah', cursive;

}

.done-so-far{
	margin: 0 50px;
}

#first-page{
	height: 100vh;
}

.page-title{
	margin-top: 30px;
	text-align: center;
	font-size: 4.5vw;
	color: white;
}

#done-so-far{
	margin: 0 3vw;
}

#done-so-far > .row{
	margin: 30px 0;
}

#done-so-far .title{
	font-size: 18px;
    font-weight: bold;
}

#done-so-far .job{
	font-size: 15px;
    font-style: italic;
}

#done-so-far .duration{
	font-size: 14px;
}

#done-so-far .item{
	padding: 10px;
	background: #58bf66;
    color: white;
    border-radius: 20px;
    margin-right: 10px;
    height: 165px;
    opacity: 0;
}



#done-so-far #A.show-done{
	-webkit-transition: all .1s ease-in;
  	-moz-transition: all .1s ease-in;
  	-o-transition: all .1s ease-in;
  	transition: all .1s ease-in;
	opacity: 1;
}

#done-so-far #B.show-done{
	-webkit-transition: all .5s ease-in;
  	-moz-transition: all .5s ease-in;
  	-o-transition: all .5s ease-in;
  	transition: all .5s ease-in;
	opacity: 1;
	
}

#done-so-far #C.show-done{
	-webkit-transition: opacity 1s ease-in;
  	-moz-transition: opacity 1s ease-in;
  	-o-transition: opacity 1s ease-in;
  	transition: opacity 1s ease-in;
	opacity: 1;
	
}

#done-so-far #D.show-done{
	-webkit-transition: opacity 1.5s ease-in;
  	-moz-transition: opacity 1.5s ease-in;
  	-o-transition: opacity 1.5s ease-in;
  	transition: opacity 1.5s ease-in;
	opacity: 1;
}





#hello{
	font-family: 'Merienda', cursive;
	font-size: 1.5vw;
	z-index: 3;
	position: relative;
	text-align: center;
	color: white;
}

#lets-connect .container{
	padding:0;
	/*margin: 0 100px;*/
}

#lets-connect .page-title{
	color: #292626;
}

#lets-connect .fab{
  font-size: 30px;
  padding: 25%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  display: inline;
}

#lets-connect .row:before, #lets-connect .row:after {display: inline-block; !important; width: 0px; height: 0px;}

#projects-page{
	position: relative;
	top: -60px;
	width: 100vw;
	height: 800px;
}

#projects-page .project-title{
	border-right: 1px solid;
    margin: 5px 0;
}

#projects-page .project-description{
    margin: 5px 0;
}

#projects-page h2{
	font-size: 2.5vw;
}

.fa-facebook{
	background: #3B5998;
}

.fa-instagram{
	 background: #125688;
}

.fa-twitter{
	 background: #55ACEE;
}

.fa-linkedin{
	background: #007bb5;
}

.fa-github{
	background: #24292e;
}

#name{
	font-family: 'Abril Fatface', cursive;
	font-size: 4.5vw;
	z-index: 3;
	position: relative;
	text-align: center;
	color: white;
	margin-bottom: 9vh;
}

.more-info{
	text-align: center;

}

#landing{
	background: lightgrey;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
/*	z-index: 9;*/
	position: absolute;
/*	position: absolute;
	left: 25%;
	top: 0;*/

}

#welcome{
	position: relative;
    z-index: 4;
    background: rgba(0,0,0,0.6);
    width: 25%;
    vertical-align: center;
    padding: 3vw;
    height: 100%;
    overflow: hidden;
}

#welcome button{
	border: none;
    font-size: 2vw;
    padding: 3vw;
    background: white;
    border-radius: 10px;
    width: 100%;
    font-family: 'Abril Fatface', cursive;
    margin-top: 6vh;
}

.off-white{
	background-color: #f5f5f5;
}

.light-green{
	background-color: #e0ffe5;
}

.light-blue{
	background-color: #e0f4ff
}

#lets-connect h2{
	font-size: 2.5vw;
}

#lets-connect h3{
	font-size: 2.2vw;
}

.dark-background{
	background: #292626;
}

#projects-page h2 strong{
	color: #bf5858;
}

#experience-page{
	position: relative;
	top: -30px;
	width: 100vw;
	height: 800px;
}

#experience-page img{
	border-radius: 25px;
	width: 250px;
}

li{
	list-style-type: none;
	color: white;
	font-family: 'Abril Fatface', cursive;
	font-size: 2vw;
	margin-bottom: 1vw;
}

#welcome button:hover{
	cursor: pointer;
}

#projects-page img{
	border-radius: 25px;
	height: inherit;
}

#projects-page #proficient.show{
	-webkit-transition: left .5s linear;
  	-moz-transition: left .5s linear;
  	-o-transition: left .5s linear;
  	transition: left .5s linear;

	left:0;
}

#projects-page #audio-amplifier.show{
	-webkit-transition: left 1s linear;
  	-moz-transition: left 1s linear;
  	-o-transition: left 1s linear;
  	transition: left 1s linear;
	left:0;
}

#projects-page #idk-yet.show{
	-webkit-transition: left 1.5s linear;
  	-moz-transition: left 1.5s linear;
  	-o-transition: left 1.5s linear;
  	transition: left 1.5s linear;
	left:0;
}

#projects-page #audioamplifier{
	right: 3000px;
}

#projects-page .item{
	position: relative;
	left: -3000px;
	margin: 10px 10%;
	border-radius: 25px;
	background: #bf5858;
	/*z-index: 30;*/
	-webkit-backface-visibility: hidden;
}

#projects-page *{
	color: white;
}

#projects-page .item p{
	text-align: justify;
}

#projects-page .item h3{
	font-size: 1.25rem;
}

#projects-page .slides{
	border-radius: 25px;
	height: 125px;
}

#projects-page .slides img{
	display: none;
	margin: 5px 0;
/*	animation-name: disappear;
	animation-duration: 1s;*/
}


#projects-page .slides img.display{
	display: block;
	animation-name: showMe;
	animation-duration: 5s;
/*	animation-name: disappear;
	animation-duration: .5s;*/
}

@keyframes showMe {
  0%   {height: 0%;}
  1%   {height: 5%;}
  2%   {height: 10%;}
  3%  {height: 15%;}
  4%   {height: 20%;}
  5%   {height: 25%;}
  6%   {height: 30%;}
  7%   {height: 35%;}
  8%   {height: 40%;}
  9%   {height: 45%;}
  10%   {height: 50%;}
  11%   {height: 55%;}
  12%   {height: 60%;}
  13%   {height: 65%;}
  14%   {height: 70%;}
  15%   {height: 75%;}
  16%   {height: 80%;}
  17%   {height: 85%;}
  18%   {height: 90%;}
  19%   {height: 95%;}
  20%  {height: 100%;}
  25%  {height: 100%;}
  30%  {height: 100%;}
  35%  {height: 100%;}
  40%  {height: 100%;}
  45%  {height: 100%;}
  50%  {height: 100%;}
  60%  {height: 100%;}
  70%  {height: 100%;}
  80%  {height: 100%;}

  81%  {height: 95%;}
  82%  {height: 90%;}
  83%  {height: 85%;}
  84%  {height: 80%;}
  85%  {height: 75%;}
  86%  {height: 70%;}
  87%  {height: 65%;}
  88%  {height: 60%;}
  89%  {height: 55%;}
  90%  {height: 50%;}
  91%  {height: 45%;}
  92%  {height: 40%;}
  93%  {height: 35%;}
  94%  {height: 30%;}
  95%  {height: 25%;}
  96%  {height: 20%;}
  97%  {height: 15%;}
  98%  {height: 10%;}
  99%  {height: 5%;}
  100%  {height: 0%;}

}


.slides .slide-toggle{
    z-index: 999;
    position: absolute;
    background: rgba(0,0,0,0.7);
    border: none;
    height: 100%;
    width: 37px;
    border-radius: 25px;
}

.slides .slide-toggle.left{
	top: 0px;
    left: 14px;
}
.slides .slide-toggle.right{
	top: 0px;
    left: 100px;
}

#social-links{
	margin: 8vw auto;
	text-align: center;

}

#lets-connect{
	position: relative;
	top: -120px;
	width: 100vw;
	height: 700px;
}

#lets-connect #social-links.row .col{
	margin: 0;
	padding: 0;
}

.truncate {
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red{
	color:#bf5858;
}

.blue{
	color:#587fbf;
}

.green{
	color:#58bf66;
}

/*#menu{
	background: lightgrey;
	position: absolute;
	top: 100vh;
	z-index: 999;
}*/