@media screen and (max-width: 877px){
	#landing{
		width: auto;
		height: 100vh;
		left: -200px;
	}

	ul{
		padding-inline-start: 3vw;
	}

	#name{
		margin-bottom: 6vh;
	}
}


@media screen and (max-width: 940px) and (max-height: 500px){

	#landing{
		left: 125px;
		width: 100vw;	
	}

}

@media screen and (max-width: 1100px){
	#experience-page img{
		width: 20vw;
	}
}

@media screen and (max-width: 970px){
	#experience-page h3{
		display: none;
	}
}

@media screen and (max-width: 700px){
	#experience-page img{
		display: none;
	}

	.col.center-content{
		display: none;
	}
}



/* iPhone 6 in portrait & landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	#blog h2{
		font-size: 3.5vw;
	}

	#blog .row{
		margin: 0;
	}

	#blog .col{
		padding-left: 0px;
		margin: 5px 0;
	}

	#blog .blog{
		width: 89vw;
		/*height: 15vh;*/
	}

	#blog .blog img{
		height: 15vh;
	}

	#blog .container{
		margin: 0;
	}

	#blog .blog .card-img-overlay{
		top:0;
	}

	#blog .blog .card-img-overlay h5{
		font-size: 20px;
	}


  #landing{
  	left: -450px;
  }

  #experience-page img{
		display: block;
		width: 40vw;
	}

	.col.center-content{
		display: flex;
	}

	#done-so-far{
		/*margin: 0 1vw 0 8vw;*/
	}

	#done-so-far .item{
		height: 18vh;
		margin-bottom: 10px;
		width: 94vw;
	}

	#done-so-far > .row{
		margin: 0;
	}

	#projects-page .item{
		padding-bottom: 5px;
		height: 25vh;
		margin: 10px 2%;
	}

	#projects-page .item h2{
		font-size: 5vw;
	}

	#projects-page .item h3{
		font-size: 15px;
	}

	#projects-page .item img{
		height: 50%;
		width: auto;
	}

	#projects-page .item p{
		height: 30px;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}

	#projects-page .item .slides{
		height: 90px;
	}

	.page-title{
		font-size: 6vw;
	}

	#lets-connect .page-title{
		font-size: 30px;
	}

	#lets-connect h2{
		font-size: 20px;
	}

	#lets-connect h3{
		font-size: 15px;
	}

	#lets-connect #social-links{
		margin: 30px 0;
	}
}

/* iPhone 6 in landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  
}

/* iPhone 6 in portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
  
}

/* iPhone 6 Plus in portrait & landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
  
}